<!-- PAGE MAIN CONTENT -->
<div class="row">
  	<div class="col-md-12">
    <!-- BOX -->
    <div class="box border blue">
		      <div class="box-title">
			        <h4><i class="fa fa-table"></i>发货单</h4>
			        <div class="tools hidden-xs">
			          <a href="#box-config" data-toggle="modal" class="config"><i class="fa fa-cog"></i></a>
			          <a href="javascript:;" class="reload"><i class="fa fa-refresh"></i></a>
			          <a href="javascript:;" class="collapse"><i class="fa fa-chevron-up"></i></a>
			          <a href="javascript:;" class="remove"><i class="fa fa-times"></i></a>
			        </div>
		      </div>
	  
	  		  <form  class="form-horizontal" role="form" id="expressTableForm" name="expressTableForm" method="POST" action="#" >
	          <div class="box-body">
  				    <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
						  <div class="row">
					            <div class="col-sm-12">
					              <div class="text-left">
					                <div class="col-sm-3 control-label">
					                <label>客户名称:$!uservo.customerName</label>
					                <input type="hidden" name="customerName" value="$!uservo.customerName"/>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>发货单号:$!expressNo</label>
					                <input type="hidden" name="expressNo" id="expressNo" value="$!expressNo"/>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>日期:$!today</label>
					                </div>
					              </div>
					              <div class="divide-40"></div>
					            </div>
						   </div>
						   <div class="row">
                                <div class="col-md-12">
							  		  <table id="datatable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable_info">
							            <thead>
							              <tr role="row">
							                <th style="width: 5%;"><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
							                <th style="width: 5%;">序号</th>
							                <th style="width: 15%;">条码</th>
							                <th style="width: 12%;">货架号</th>
							                <th style="width: 12%;">货品名</th>
							                <th style="width: 7%;">颜色</th>
							                <th style="width: 7%;">数量</th>
							                <th style="width: 7%;">体积</th>
							                <th style="width: 7%;">重量</th>
							                <th style="width: 7%;">单位</th>
							                <th style="width: 15%;">类别</th>
							              </tr>
							            </thead>
							            <tbody role="alert" aria-live="polite" aria-relevant="all">
							             
							            </tbody>
							          </table>
						        </div>
						   </div>
						 
             		</div>
             </div>
             </form>
             
             
   </div>
   <!-- /BOX -->
   </div>
</div>
   
<div class="row">   
   <div class="col-md-7">
   
		<div class="box border blue">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>物流信息</h4>
				<div class="tools hidden-xs">
					<a href="#box-config" data-toggle="modal" class="config"><i class="fa fa-cog"></i></a>
					<a href="javascript:;" class="reload"><i class="fa fa-refresh"></i></a>
					<a href="javascript:;" class="collapse"><i class="fa fa-chevron-up"></i></a>
					<a href="javascript:;" class="remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="box-body big">
				<form  class="form-horizontal" role="form" id="expressForm" name="expressForm" method="POST" action="#" >
					  <div class="form-group">
							<label class="col-sm-3 control-label">物流公司:</label>
							<div class="col-sm-9">
							    <select id="logisticsCompanyName" name="logisticsCompanyName" class="form-control input-sm" required>
								   <option value="">请选择</option>
								   <option value="申通快递">申通快递</option>
								   <option value="中通快递">中通快递</option>
								   <option value="韵达快递">韵达快递</option>
								   <option value="顺丰快递">顺丰快递</option>
								</select>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">物流单号:</label>
							<div class="col-sm-9">
							 	<input type="text" class="form-control input-sm" id="logisticsNo" name="logisticsNo" placeholder="请输入物流入库单号" required>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">收货地址:</label>
							<div class="col-sm-9">
							 	<input type="text" class="form-control input-sm" id="address" name="address" placeholder="请输入收货地址" required>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">姓名:</label>
							<div class="col-sm-9">
							 	<input type="text" class="form-control input-sm" id="name" name="name" placeholder="请输入收货人姓名" required>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">联系方式:</label>
							<div class="col-sm-9">
							 	<input type="text" class="form-control input-sm" id="mobile" name="mobile" placeholder="请输入联系电话" required>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">收货区域:</label>
							<div id="city">
							 	<div class="col-sm-2"><select name="province" class="prov form-control input-sm" required ></select></div>
								<div class="col-sm-2"><select name="city" class="city form-control input-sm" disabled="disabled" required></select></div>
								<div class="col-sm-2"><select name="district" class="dist form-control input-sm" disabled="disabled" required></select></div>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">总体积:</label>
							<div class="col-sm-9">
							 	<label class="control-label" id="totalVolume" name="totalVolume" >0.00</label>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">总总量:</label>
							<div class="col-sm-9">
							 	<label class="control-label" id="totalWeight" name="totalWeight" >0.00</label>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">总数量:</label>
							<div class="col-sm-9">
							 	<label class="control-label" id="totalNumber" name="totalNumber" >0</label>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">外包装:</label>
							<div class="col-sm-9">
								<label class="radio-inline">
								  <input type="radio" name="needPackage" id="package1" value="1" required checked > 需要
								</label>
								<label class="radio-inline">
								  <input type="radio" name="needPackage" id="package2" value="0" required> 不需要
								</label>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">保险:</label>
							<div class="col-sm-9">
								<label class="radio-inline">
								  <input type="radio" name="insurance" id="insurance1" value="1" required checked> 需要
								</label>
								<label class="radio-inline">
								  <input type="radio" name="insurance" id="insurance2" value="0" required> 不需要
								</label>
							</div>
					  </div>
					  <div class="form-group">
							<label class="col-sm-3 control-label">价格:</label>
							<div class="col-sm-9">
							 	<input type="number" class="form-control input-sm" id="price" name="price" placeholder="请输入价格" min="0" step="0.1" pattern="\d+.\d{0,2}"  required>
							</div>
					  </div>
					  <div class="form-group">
	                        <div class="text-center">
	                        	<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
	                            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"> 保存</i></button>
	                            <button type="reset" class="btn btn-default"><i class="fa fa-undo"> 重置</i></button>
	                        </div>
                      </div>
				</form>
			</div>
		</div>
   </div>
</div>


<div class="separator"></div>
<!-- /PAGE MAIN CONTENT -->
<script>
jQuery(document).ready(function() {
	
		$("#city").citySelect({
			nodata:"none",
			required:false
		});
		


		var oTable = $('#datatable').dataTable({
		    bProcessing: false,
		    bServerSide: true,
		    bPaginate: false,
		    bSortClasses: false,
		    bLengthChange: false,
		    "iDisplayLength": 1000,
		    bFilter: false,
			sPaginationType: "bs_full",
	        sAjaxSource: "showInventoryList",
	        fnServerData: function ( sSource, aoData, fnCallback, oSettings ) {
				var sData = $("#expressForm").serializeArray();
				sData.push( { "name": "page", "value": Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength) + 1 } );
				sData.push( { "name": "size", "value": oSettings._iDisplayLength } );
				sData.push( { "name": "echo", "value": oSettings.iDraw } );
				if ( oSettings.oFeatures.bSort !== false ){
					aaSort = ( oSettings.aaSortingFixed !== null ) ?
						oSettings.aaSortingFixed.concat( oSettings.aaSorting ) :
						oSettings.aaSorting.slice();
					
					for ( i=0 ; i<aaSort.length ; i++ )	{
						aDataSort = oSettings.aoColumns[ aaSort[i][0] ].aDataSort;
						mDataProp = oSettings.aoColumns[ aaSort[i][0] ].mData;
						
						for ( j=0 ; j<aDataSort.length ; j++ ){
							sData.push( { "name": "sort",  "value": mDataProp + "," +aaSort[i][1] } );
						}
					}
				}
				
	            oSettings.jqXHR = $.ajax( {
	            	  headers: {
			            'X-CSRF-TOKEN': $('meta[name="_csrf_token"]').attr('content')
			          },
	                  "dataType": 'json',
	                  "type": "POST",
	                  "url": sSource,
	                  "data": sData,
	                  //JSON.stringify(aoData)
	                  success : function(response) { 
		                  fnCallback(response); 
		              },
		              error: function (e) {
		                 console.log(e.message);
		              }
	            });
	        },
	        aaSorting: [[1,'desc']],
            aoColumns: [
		        		{"mData": "id", "sClass": "center", "bSortable": false }, 
		        		{"mData": "id", "sClass": "center"}, 
		        		{"mData": "barCode", "sClass": "center"},
		        		{"mData": "shelvesNo", "sClass": "center"},
		        		{"mData": "productName", "sClass": "center"},
		        		{"mData": "color", "sClass": "center"},
		        		{"mData": "number", "sClass": "center"},
		        		{"mData": "volume" ,"sClass": "center"},
		        		{"mData": "weight" ,"sClass": "center"},
		        		{"mData": "quantityName", "sClass": "center"},
		        		{"mData": "categoryName" ,"sClass": "center"},
	        		   ],
	       	aoColumnDefs:[
						   { 
				                "aTargets": [0],
				                "sClass": "center",
				                "mRender": function (data, type, row) {
				                	if(row.number <= 0){
						               	return "<input type='checkbox' id='id"+ row.id +"' name='inventoryId' value='" + data + "' disabled='disabled' >";
				                	}else{
						               	return "<input type='checkbox' id='id"+ row.id +"' name='inventoryId' value='" + data + "' >";
				                	}
								 }
						   },
						   { 
				                "aTargets": [6],
				                "sClass": "center",
				                "mRender": function (data, type, row) {
				                	if(row.number <= 0){
						               	return "<input type='number' max='" + data + "' min='0' step='1' id='number"+ row.id +"' name='number' value='0' disabled='disabled' >";
				                	}else{
						               	return "<input type='number' max='" + data + "' min='0' step='1' id='number"+ row.id +"' name='number' value='0' >";
				                	}
				                
								 }
						   },
						   { 
				                "aTargets": [7],
				                "sClass": "center",
				                "mRender": function (data, type, row) {
					               	return 0.00 + "<input type='hidden' name='volume"+ row.id +"' id='volume"+ row.id +"' value='"+ (data / row.number).toFixed(2) +"'/>";
								 }
						   },
						   { 
				                "aTargets": [8],
				                "sClass": "center",
				                "mRender": function (data, type, row) {
					               	return 0.00 + "<input type='hidden' name='weight"+ row.id +"' id='weight"+ row.id +"' value='"+ (data / row.number).toFixed(2) +"'/>";
								 }
						   },
						 
						 ],
	        oLanguage: {
	                    "sProcessing": "正在加载中......",
	                    "sLengthMenu": "每页显示 _MENU_ 条记录",
	                    "sZeroRecords": "对不起，查询不到相关数据！",
	                    "sEmptyTable": "没有查询到相关记录！",
	                    "sInfo": "当前显示 _START_ 到 _END_ 条，每页共 _TOTAL_ 条记录",
	                    "sInfoFiltered": "总记录共 _MAX_ 条记录",
	                    "oPaginate": {
	                        "sFirst": "首页",
	                        "sPrevious": "上一页",
	                        "sNext": "下一页",
	                        "sLast": "末页"
	                    }
	        }
		});
		
		$('#datatable tbody').on( 'change', 'input[id^=number]', function () {
		    var value = $(this).val();
			var tr = $(this).parent('td').parent('tr');
			var td_volume = tr.find("input[id^=volume]");
			var td_weight = tr.find("input[id^=weight]");
			var tr_id = tr.find("input[id^=id]");
			var volume = td_volume.val();
			var weight = td_weight.val();
			
			td_volume.parent('td').html((value * volume).toFixed(2) + "<input type='hidden' name='volume"+ tr_id.val() +"' id='volume"+ tr_id.val() +"' value='"+ volume +"'/>" ); 
			td_weight.parent('td').html((value * weight).toFixed(2) + "<input type='hidden' name='weight"+ tr_id.val() +"' id='weight"+ tr_id.val() +"' value='"+ weight +"'/>" ); 
			
			
			calculateTotal();
    	} );
    	
    	
    	var calculateTotal = function () {
    		$("#totalVolume").removeClass("text-danger");
    		$("#totalWeight").removeClass("text-danger");
    		$("#totalNumber").removeClass("text-danger");
    		var totalVolume=0.00; 
			var totalWeight=0.00; 
			var totalNumber=0; 
			$('#datatable tbody').find('input[type="checkbox"]:checked').each(function () {
				   var tr = $(this).parent('td').parent('tr');
				   var number = tr.find("input[id^=number]").val();
				   var volume = tr.find('td:eq(7)').text();
				   var weight = tr.find('td:eq(8)').text();
			       if($.isNumeric(volume) == false){
			       		volume = 0.00;
			       }
			       if($.isNumeric(weight) == false){
			       		weight = 0.00;
			       }
				   if($.isNumeric(number) == false){
			       		number = 0;
			       }
	       		   totalVolume+=parseFloat(volume);
	       		   totalWeight+=parseFloat(weight);
	       		   totalNumber+=parseInt(number);
			       
			});
			$("#totalVolume").html(parseFloat(totalVolume).toFixed(2)); 
			$("#totalWeight").html(parseFloat(totalWeight).toFixed(2)); 
			$("#totalNumber").html(totalNumber); 
    	}
    	
	   // Handle click on "Select all" control
	   $('#example-select-all').on('click', function(){
	      // Check/uncheck all checkboxes in the table
	      var rows = oTable.$('tr');
	      $('input[type="checkbox"]:not(:disabled)', rows).prop('checked', this.checked);
	   });
	   
	   // Handle click on checkbox to set state of "Select all" control
	   $('#datatable tbody').on('change', 'input[type="checkbox"]', function(){
	      // If checkbox is not checked
	      calculateTotal();
	      if(!this.checked){
	         var el = $('#example-select-all').get(0);
	         // If "Select all" control is checked and has 'indeterminate' property
	         if(el && el.checked && ('indeterminate' in el)){
	            // Set visual state of "Select all" control 
	            // as 'indeterminate'
	            el.indeterminate = true;
	         }
	      }
	   });
		
		$('.datatable').each(function(){
			var datatable = $(this);
			// SEARCH - Add the placeholder for Search and Turn this into in-line form control
			var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
			search_input.attr('placeholder', 'Search');
			search_input.addClass('form-control input-sm');
			// LENGTH - Inline-Form control
			var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
			length_sel.addClass('form-control input-sm');
		});
		
		$('#expressForm').submit(function(e) {
			e.preventDefault();
			var validnumber = false;
			if( $("#totalNumber").html() <= 0 || $.isNumeric($("#totalNumber").html()) == false){
				$("#totalNumber").text('请至少选择一件货品,并填写数量').addClass("text-danger");
			}else{
				validnumber = true;
			}
			
			var valid = $("#expressForm")[0].checkValidity();
			if(valid && validnumber){
			    var formdata = $("#expressForm").serializeArray();
				$.each($('#datatable tbody').find('input[type="checkbox"]:checked').parents("tr"), function() {
				    formdata.push({ 'name':'inventoryId',  'value':$(this).find("input[name^=inventoryId]").val()  });
				    formdata.push({ 'name':'number',  'value':$(this).find("input[name^=number]").val()  });
	            });
	            formdata.push({ 'name':'expressNo',  'value':$("#expressNo").val() });
	            
	            //$('#expressForm,#expressTableForm').serialize();
	            
			    bootbox.dialog({
					message: "是否保存发货单并确认所有信息输入正确?",
					title: "保存发货单",
					buttons: {
						success: {
							label: "保存",
							className: "btn btn-primary",
							callback: function() {
								$.post("submitExpress.htm", formdata, function(data) {
								 	$("#sub_content").html(data);
								});
							}
						},
						cancel: {
							label: "取消",
							className: "btn btn-default",
							callback: function() {
							
							}
						}
					}
				});
			}
			
		});
		
		
});			
</script>