<!-- PAGE MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
    <!-- BOX -->
    <div class="box border blue">
      <div class="box-title">
        <h4>
          <i class="fa fa-table"></i>发货单</h4>
        <div class="tools hidden-xs">
          <a href="#box-config" data-toggle="modal" class="config">
            <i class="fa fa-cog"></i>
          </a>
          <a href="javascript:;" class="reload">
            <i class="fa fa-refresh"></i>
          </a>
          <a href="javascript:;" class="collapse">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a href="javascript:;" class="remove">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-body">
        <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-left">
                <label class="col-sm-1 control-label">客户号:</label>
                <div class="col-sm-1">
                  <label>$!uservo.customerNo</label></div>
                <label class="col-sm-1 control-label">发货单号:</label>
                <div class="col-sm-1">
                  <label>$!deliveryNo</label></div>
                <label class="col-sm-1 control-label">日期:</label>
                <div class="col-sm-1">
                  <label>$!today</label></div>
              </div>
              <div class="divide-40"></div>
            </div>
          </div>
          <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable1_info">
            <thead>
              <tr role="row">
                <th style="width: 10%;">条码</th>
                <th style="width: 10%;">货品名</th>
                <th style="width: 10%;">品种</th>
                <th style="width: 10%;">颜色</th>
                <th style="width: 10%;">数量</th>
                <th style="width: 10%;">单位</th>
                <th style="width: 10%;">体积</th>
                <th style="width: 10%;">重量</th>
                <th style="width: 20%;">备注</th>
                <th style="width: 20%;">更多操作</th></tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <tr class="gradeA odd">
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
	                <select class="form-control">
		                #foreach($category in $categorys)
							<option value="$!category.name" id="$!category.id" title="$!category.name" >$!category.name</option>
						#end
					</select>
                </td>
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left ">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
                  	<select class="form-control">
		                #foreach($quantity in $quantitys)
							<option value="$!quantity.name" id="$!quantity.id" title="$!quantity.name" >$!quantity.name</option>
						#end
					</select>
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
                  <input type="text" class="form-control" placeholder="Text input"></td>
                <td class="left">
                  <button class="btn btn-danger" id="prompts">
                    <i class="fa fa-trash-o"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          
          <div class="separator"></div>
          
          <div class="col-md-7">
            <!-- BASIC -->
            <div class="panel panel-default">
		          <div class="panel-heading">
					    <h3 class="panel-title">物流信息</h3>
				  </div>
	              <div class="panel-body">
	                    <label class="col-md-6 control-label">物流公司:</label>
	                    <div class="col-sm-9">
	                    	<select id="e2" class="form-control input-sm">
							   <option>选择物流公司</option>
							   <option>佳吉物流</option>
							   <option>德邦物流</option>
							   <option>天地华宇</option>
							</select>									
						</div>
	                    <label class="col-md-6 control-label">单号:</label>
	                    <div class="col-sm-9">
	                    	<input type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="请输入物流发货单号">
	                    </div>
	                    <label class="col-md-6 control-label">预计到达日期:</label>
	                    <div class="col-sm-9">
							<input class="form-control datepicker" type="text" name="regular" size="10">
	                    </div>
	              </div>
            </div>
            <!-- /BASIC -->
          </div>
          
          
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-left">
                <div class="dataTables_info" id="datatable1_info"><h4><b>总体积:19 总重量:10 总数量:20</b></h4></div></div>
              <div class="pull-right">
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-plus">增加</i></button>
                <button type="button" class="btn btn-success">
                  <i class="fa fa-floppy-o">保存</i></button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /BOX --></div>
</div>
<div class="separator"></div>
<!-- /PAGE MAIN CONTENT -->
<script>
		jQuery(document).ready(function() {
			$(".datepicker").datepicker();
			$('.colorpicker').colorpicker();
			$(".inlinepicker").datepicker({
				inline: true,
				showOtherMonths: true
			});
			$(".datepicker-fullscreen").pickadate();
			$(".timepicker-fullscreen").pickatime();
			//Color picker
			$('.colorpicker').colorpicker();
		});
	</script>