<!-- PAGE MAIN CONTENT -->
<div class="row">
  	<div class="col-md-12">
    <!-- BOX -->
    <form role="form">
    <div class="box border blue">
		      <div class="box-title">
			        <h4><i class="fa fa-table"></i>发货单</h4>
			        <div class="tools hidden-xs">
			          <a href="#box-config" data-toggle="modal" class="config"><i class="fa fa-cog"></i></a>
			          <a href="javascript:;" class="reload"><i class="fa fa-refresh"></i></a>
			          <a href="javascript:;" class="collapse"><i class="fa fa-chevron-up"></i></a>
			          <a href="javascript:;" class="remove"><i class="fa fa-times"></i></a>
			        </div>
		      </div>
	  
	          <div class="box-body">
  				    <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
						  <div class="row">
					            <div class="col-sm-12">
					              <div class="text-left">
					                <div class="col-sm-3 control-label">
					                <label>客户名称:$!uservo.customerName</label>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>发货单号:$!deliveryNo</label>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>日期:$!today</label>
					                </div>
					              </div>
					              <div class="divide-40"></div>
					            </div>
						   </div>
						  <table id="deliverFormTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable1_info">
						            <thead>
						              <tr role="row">
						                <th style="width: 6%;">序号</th>
						                <th style="width: 12%;">条码</th>
						                <th style="width: 12%;">货品名</th>
						                <th style="width: 8%;">品种</th>
						                <th style="width: 8%;">颜色</th>
						                <th style="width: 8%;">数量</th>
						                <th style="width: 8%;">单位</th>
						                <th style="width: 8%;">体积</th>
						                <th style="width: 8%;">重量</th>
						                <th style="width: 15%;">备注</th>
						                <th style="width: 7%;">更多操作</th>
						              </tr>
						            </thead>
						            <tbody role="alert" aria-live="polite" aria-relevant="all">
						              <tr class="gradeA odd" id="1">
						                <td style="vertical-align: middle;" id="seq1" name="seq1">1</td>
						                <td style="vertical-align: middle;" id="barCode1" name="barCode1" ></td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="productName1" id="productName1" required></td>
						                <td style="vertical-align: middle;">
							                <select class="form-control" name="category1" id="category1" >
								                #foreach($category in $categorys)
													<option value="$!category.name" id="$!category.id" title="$!category.name" >$!category.name</option>
												#end
											</select>
						                </td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="color1" id="color1" ></td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="number1" id="number1"  required></td>
						                <td style="vertical-align: middle;">
						                  	<select class="form-control" id="quantity1" name="quantity1">
								                #foreach($quantity in $quantitys)
													<option value="$!quantity.name" id="$!quantity.id" title="$!quantity.name" >$!quantity.name</option>
												#end
											</select>
										</td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="volume1" id="volume1"></td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="weight1" id="weight1"></td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="note1" id="note1"></td>
						                <td style="vertical-align: middle;"><button class="btn btn-danger" id="deleteTRBtn1" type="button" onclick="deleteTD(this);" ><i class="fa fa-trash-o"></i> 删除</button>
						                </td>
						              </tr>
						            </tbody>
						          </table>
  
                                  <div class="separator"></div>
                                  
                                  <div class="row">
                                  		<div class="col-md-12">
                                  				<!-- BASIC -->
									            <div class="box-body big">
													  <h3 class="form-title">物流信息</h3>
										              <div class="form-group">
										                    <label class="col-sm-5 control-label">物流公司:</label>
										                    <div class="col-sm-9">
										                    		<select id="logisticsCompanyName" name="logisticsCompanyName" class="form-control input-sm">
																	   <option>选择物流公司</option>
																	   <option>佳吉物流</option>
																	   <option>德邦物流</option>
																	   <option>天地华宇</option>
																	   <option>其他</option>
																	</select>
																	<div class="divide-10"></div>
											                    	<input type="text" class="form-control input-sm" id="logisticsCompanyNameText" name="logisticsCompanyNameText" placeholder="请输入物流公司名称" required>
										                    </div>
											           </div>
													   <div class="divide-10"></div>
											           <div class="form-group">
										                    <label class="col-sm-5 control-label">单号:</label>
										                    <div class="col-sm-9">
											                    	<input type="text" class="form-control input-sm" id="logisticsNo" name="logisticsNo" placeholder="请输入物流发货单号" required>
										                    </div>
											           </div>		
											           <div class="form-group">
										                   <label class="col-sm-5 control-label">预计日期:</label>
										                   <div class="col-sm-9">
																<input class="form-control input-sm datepicker" type="text" name="regular" required>
										                   </div>
											           </div>		
										                 
									            </div>
								            <!-- /BASIC -->
                                        </div>
                                  </div>
  
  								  <div class="row">
						            <div class="col-sm-12">
						              <div class="pull-left">
						                <div class="dataTables_info" id="datatable1_info"><h4><b>总体积:19 总重量:10 总数量:20</b></h4></div></div>
						              <div class="pull-right">
						                <button type="button" class="btn btn-primary" id="addTR">
						                  <i class="fa fa-plus"> 增加</i></button>
						                <button type="button" class="btn btn-success">
						                  <i class="fa fa-floppy-o"> 保存</i></button>
						              </div>
						              <div class="clearfix"></div>
						            </div>
						          </div>
  
  
             		</div>
             </div>
         </div>
   <!-- /BOX -->
   </form>
   </div>
</div>
<div class="separator"></div>
<!-- /PAGE MAIN CONTENT -->
<script>
		jQuery(document).ready(function() {
			$(".datepicker").datepicker();
			$('.colorpicker').colorpicker();
			$(".inlinepicker").datepicker({
				inline: true,
				showOtherMonths: true
			});
			$(".datepicker-fullscreen").pickadate();
			$(".timepicker-fullscreen").pickatime();
			//Color picker
			$('.colorpicker').colorpicker();
			
			$('#addTR').click(function() {
				var tr_id = $("#deliverFormTable>tbody>tr:last").attr("id");
				if(typeof(tr_id) == "undefined"){
				    tr_id = 0;
				}
				tr_id++;
				
				var trLen = $("#deliverFormTable>tbody>tr").length;
				trLen++;
				
    			str = "<tr class='gradeA odd' id='"+tr_id+"'>" +
    			"<td style='vertical-align: middle;' id='seq"+tr_id+"' name='seq"+tr_id+"'>"+trLen+"</td>" +
    			"<td style='vertical-align: middle;' id='barCode"+tr_id+"' name='barCode"+tr_id+"'></td>" +
    			"<td style='vertical-align: middle;'><input type='text' class='form-control' name='productName"+tr_id+"' id='productName"+tr_id+"' required></td>" +
    			"<td style='vertical-align: middle;'>" +
				    "<select class='form-control' name='category"+tr_id+"' id='category"+tr_id+"' >" +
							#foreach($category in $categorys)
							"<option value='$!category.name' id='$!category.id' title='$!category.name' >$!category.name</option>" +
							#end
					"</select>" +
				"</td>" +
    			"<td style='vertical-align: middle;'><input type='text' class='form-control' name='color"+tr_id+"' id='color"+tr_id+"' ></td>" +
    			"<td style='vertical-align: middle;'><input type='text' class='form-control' name='number"+tr_id+"' id='number"+tr_id+"' required></td>" +
    			"<td style='vertical-align: middle;'>" +
				    "<select class='form-control' id='quantity"+tr_id+"' name='quantity"+tr_id+"'>" +
						    #foreach($quantity in $quantitys)
							"<option value='$!quantity.name' id='$!quantity.id' title='$!quantity.name' >$!quantity.name</option>" +
							#end
					"</select>" +
				"</td>" +
				"<td style='vertical-align: middle;'><input type='text' class='form-control' name='volume"+tr_id+"' id='volume"+tr_id+"'></td>" + 
				"<td style='vertical-align: middle;'><input type='text' class='form-control' name='weight"+tr_id+"' id='weight"+tr_id+"'></td>" +
				"<td style='vertical-align: middle;'><input type='text' class='form-control' name='note"+tr_id+"' id='note"+tr_id+"'></td>" +
				"<td style='vertical-align: middle;'><button class='btn btn-danger' id='deleteTRBtn"+tr_id+"' type='button' onclick='deleteTD(this);' ><i class='fa fa-trash-o'></i> 删除</button>" +
    			
    			"</tr>";
				$("#deliverFormTable tbody").append(str);  
			});
			
			
			
			$("#logisticsCompanyNameText").hide();
			$('#logisticsCompanyName').change(function(){ 
				if($(this).children('option:selected').val() == '其他'){
					$("#logisticsCompanyNameText").show();
				}else{
					$("#logisticsCompanyNameText").hide();
				}
				
			}); 
			
			
			
			
			
		});
		
		function deleteTD(tdobj) {
			var tr = $(tdobj).parent().parent();  
    		tr.remove(); 
    		var length =  $("#deliverFormTable>tbody>tr").length;
    		for (i = 0; i < length; i++) {
    			$("#deliverFormTable>tbody>tr ").eq(i).children("td").eq(0).html(i+1);
            }
		}
	</script>