<!-- PAGE MAIN CONTENT -->
<div class="row">
  	<div class="col-md-12">
    <!-- BOX -->
    <form role="form" id="deliverForm" name="deliverForm" method="POST" action="#" >
    <div class="box border blue">
		      <div class="box-title">
			        <h4><i class="fa fa-table"></i>发货单</h4>
			        <div class="tools hidden-xs">
			          <a href="#box-config" data-toggle="modal" class="config"><i class="fa fa-cog"></i></a>
			          <a href="javascript:;" class="reload"><i class="fa fa-refresh"></i></a>
			          <a href="javascript:;" class="collapse"><i class="fa fa-chevron-up"></i></a>
			          <a href="javascript:;" class="remove"><i class="fa fa-times"></i></a>
			        </div>
		      </div>
	  
	          <div class="box-body">
  				    <div id="datatable1_wrapper" class="dataTables_wrapper form-inline" role="grid">
						  <div class="row">
					            <div class="col-sm-12">
					              <div class="text-left">
					                <div class="col-sm-3 control-label">
					                <label>客户名称:$!uservo.customerName</label>
					                <input type="hidden" name="customerName" value="$!uservo.customerName"/>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>发货单号:$!deliveryNo</label>
					                <input type="hidden" name="deliveryNo" value="$!deliveryNo"/>
					                </div>
					                <div class="col-sm-3 control-label">
					                <label>日期:$!today</label>
					                </div>
					              </div>
					              <div class="divide-40"></div>
					            </div>
						   </div>
						  <table id="deliverFormTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable1_info">
						            <thead>
						              <tr role="row">
						                <th style="width: 6%;">序号</th>
						                <th style="width: 12%;">条码</th>
						                <th style="width: 12%;">货品名</th>
						                <th style="width: 8%;">类别</th>
						                <th style="width: 8%;">颜色</th>
						                <th style="width: 8%;">数量</th>
						                <th style="width: 8%;">单位</th>
						                <th style="width: 8%;">体积</th>
						                <th style="width: 8%;">重量</th>
						                <th style="width: 15%;">备注</th>
						                <th style="width: 7%;">更多操作</th>
						              </tr>
						            </thead>
						            <tbody role="alert" aria-live="polite" aria-relevant="all">
						              <tr class="gradeA odd" id="1">
						                <td style="vertical-align: middle;" id="seq1" name="seq">1</td>
						                <td style="vertical-align: middle;" id="barCode1" name="barCode" ></td><input type="hidden" name="barCodeInput" id="barCodeInput1" />
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="productName" id="productName1" required></td>
						                <td style="vertical-align: middle;">
							                <select class="form-control" name="category" id="category1" onchange="showFirstLetter(this);" required >
							                	<option value="">选择类别</option>
								                #foreach($category in $categorys)
													<option value="$!category.id" id="$!category.id" title="$!category.name" >$!category.name</option>
												#end
											</select>
						                </td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="color" id="color1" ></td>
						                <td style="vertical-align: middle;"><input type="number" class="form-control" name="number" id="number1" onchange="totalNumber();" min="0" required></td>
						                <td style="vertical-align: middle;">
						                  	<select class="form-control" id="quantity1" name="quantity">
								                #foreach($quantity in $quantitys)
													<option value="$!quantity.id" id="$!quantity.id" title="$!quantity.name" >$!quantity.name</option>
												#end
											</select>
										</td>
						                <td style="vertical-align: middle;"><input type="number" class="form-control" name="volume" id="volume1" min="0" step="0.01" onchange="totalVolume();" ></td>
						                <td style="vertical-align: middle;"><input type="number" class="form-control" name="weight" id="weight1" min="0" step="0.01" onchange="totalWeight();" ></td>
						                <td style="vertical-align: middle;"><input type="text" class="form-control" name="note" id="note1"></td>
						                <td style="vertical-align: middle;"><button class="btn btn-danger" id="deleteTRBtn1" type="button" onclick="deleteTD(this);" ><i class="fa fa-trash-o"></i> 删除</button>
						                </td>
						              </tr>
						            </tbody>
						          </table>
  
                                  <div class="separator"></div>
                                  
                                  <div class="row">
                                  		<div class="col-md-12">
                                  				<!-- BASIC -->
									            <div class="box-body big">
													  <h3 class="form-title">物流信息</h3>
										              <div class="form-group">
										                    <label class="col-sm-5 control-label">物流公司:</label>
										                    <div class="col-sm-9">
										                    		<select id="logisticsCompanyName" name="logisticsCompanyName" class="form-control input-sm" required>
																	   <option value="">选择物流公司</option>
																	   <option value="佳吉物流">佳吉物流</option>
																	   <option value="德邦物流">德邦物流</option>
																	   <option value="天地华宇">天地华宇</option>
																	   <option value="其他">其他</option>
																	</select>
																	<div class="divide-10"></div>
											                    	<input type="text" class="form-control input-sm" id="logisticsCompanyNameText" name="logisticsCompanyNameText" placeholder="请输入物流公司名称" >
										                    </div>
											           </div>
													   <div class="divide-10"></div>
											           <div class="form-group">
										                    <label class="col-sm-5 control-label">单号:</label>
										                    <div class="col-sm-9">
											                    	<input type="text" class="form-control input-sm" id="logisticsNo" name="logisticsNo" placeholder="请输入物流发货单号" required>
										                    </div>
											           </div>		
											           <div class="form-group">
										                   <label class="col-sm-5 control-label">预计日期:</label>
										                   <div class="col-sm-9">
																<input class="form-control input-sm datepicker" type="text" name="logisticsDate" required>
										                   </div>
											           </div>		
										                 
									            </div>
								            <!-- /BASIC -->
                                        </div>
                                  </div>
  
  								  <div class="row">
						            <div class="col-sm-12">
						              <div class="pull-left">
						                <div class="dataTables_info" id="datatable1_info" style="display:inline">
						                	<h4>
						                		<label class="control-label">总体积:<span id="totalVolume">0</span> 立方</label>
						                		<label class="control-label">总重量:<span id="totalWeight">0</span></label>
												<label class="control-label">总数量:<span id="totalNumber">0</span></label>
											</h4>
						                </div>
						              </div>
						              <div class="pull-right">
						                <button type="button" class="btn btn-primary" id="addTR">
						                  <i class="fa fa-plus"> 增加</i></button>
						                <input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
						                <button type="submit" class="btn btn-success" id="deliverySubbtn">
						                  <i class="fa fa-floppy-o"> 保存</i></button>
						              </div>
						              <div class="clearfix"></div>
						            </div>
						          </div>
  
  
             		</div>
             </div>
         </div>
   <!-- /BOX -->
   </form>
   </div>
</div>
<div class="separator"></div>
<!-- /PAGE MAIN CONTENT -->
<script>
		jQuery(document).ready(function() {
			$(".datepicker").datepicker();
			$('.colorpicker').colorpicker();
			$(".inlinepicker").datepicker({
				inline: true,
				showOtherMonths: true
			});
			$(".datepicker-fullscreen").pickadate();
			$(".timepicker-fullscreen").pickatime();
			//Color picker
			$('.colorpicker').colorpicker();
			
			$('#addTR').click(function() {
				var tr_id = $("#deliverFormTable>tbody>tr:last").attr("id");
				if(typeof(tr_id) == "undefined"){
				    tr_id = 0;
				}
				tr_id++;
				
				var trLen = $("#deliverFormTable>tbody>tr").length;
				trLen++;
				
    			str = "<tr class='gradeA odd' id='"+tr_id+"'>" +
    			"<td style='vertical-align: middle;' id='seq"+tr_id+"' name='seq'>"+trLen+"</td>" +
    			"<td style='vertical-align: middle;' id='barCode"+tr_id+"' name='barCode'></td><input type='hidden' name='barCodeInput' id='barCodeInput"+tr_id+"' />" +
    			"<td style='vertical-align: middle;'><input type='text' class='form-control' name='productName' id='productName"+tr_id+"' required></td>" +
    			"<td style='vertical-align: middle;'>" +
				    "<select class='form-control' name='category' id='category"+tr_id+"' onchange='showFirstLetter(this);' required >" +
				            "<option value=''>选择类别</option>" +
							#foreach($category in $categorys)
							"<option value='$!category.id' id='$!category.id' title='$!category.name' >$!category.name</option>" +
							#end
					"</select>" +
				"</td>" +
    			"<td style='vertical-align: middle;'><input type='text' class='form-control' name='color' id='color"+tr_id+"' ></td>" +
    			"<td style='vertical-align: middle;'><input type='number' class='form-control' name='number' id='number"+tr_id+"' min='0' onchange='totalNumber();' required></td>" +
    			"<td style='vertical-align: middle;'>" +
				    "<select class='form-control' id='quantity"+tr_id+"' name='quantity'>" +
						    #foreach($quantity in $quantitys)
							"<option value='$!quantity.id' id='$!quantity.id' title='$!quantity.name' >$!quantity.name</option>" +
							#end
					"</select>" +
				"</td>" +
				"<td style='vertical-align: middle;'><input type='number' class='form-control' name='volume' id='volume"+tr_id+"' min='0' step='0.01' onchange='totalVolume();' ></td>" + 
				"<td style='vertical-align: middle;'><input type='number' class='form-control' name='weight' id='weight"+tr_id+"'min='0' step='0.01' onchange='totalWeight();' ></td>" +
				"<td style='vertical-align: middle;'><input type='text' class='form-control' name='note' id='note"+tr_id+"'></td>" +
				"<td style='vertical-align: middle;'><button class='btn btn-danger' id='deleteTRBtn"+tr_id+"' type='button' onclick='deleteTD(this);' ><i class='fa fa-trash-o'></i> 删除</button>" +
    			
    			"</tr>";
				$("#deliverFormTable tbody").append(str);
				
			});
			
			$("#logisticsCompanyNameText").hide();
			$('#logisticsCompanyName').change(function(){ 
				if($(this).children('option:selected').val() == '其他'){
					$("#logisticsCompanyNameText").show();
					$('#logisticsCompanyNameText').prop('required',true);
				}else{
					$("#logisticsCompanyNameText").hide();
					$('#logisticsCompanyNameText').prop('required',false);
				}
				
			});
			
			
			$('#deliverForm').submit(function(e) {
				var valid = $("#deliverForm")[0].checkValidity();
				if(valid){
				    e.preventDefault();
					$.post("submitDelivery.htm",$("#deliverForm").serialize(), function(data) {
					 	$("#sub_content").html(data);
					});
				}
			});
			
		});
		
		function showFirstLetter(select){
		    var simplified = $(select).children('option:selected').text();
		    if(simplified == '选择类别'){
		     	return;
		    }
		    
		    var csrf_token = $('meta[name="_csrf_token"]').attr('content');
		    var tr_id = $(select).parent().parent().attr("id");
		    $.ajaxSetup({
			    headers: { "X-CSRF-TOKEN" : csrf_token },
			});
			
			var data = {
	           simplified: simplified
	        };
			
			$.ajax({
			  type: "POST",
              url: "showBarcodeAcronym",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
			  data: JSON.stringify(data),
			  success: function (data) {
                 $("#barCode"+tr_id).html(data.acronym);
                 $("#barCodeInput"+tr_id).val(data.acronym);
              },
              error: function (err) {
                 
              }
			});
		    
		};
		
		function totalNumber(){
			var sum=0; 
		    $("input[id^='number']").each(function(){
		       var value = $(this).val();
		       if($.isNumeric(value) == false){
		       		value = 0;
		       }
		       sum+=parseInt(value);
		    }); 
		    $("#totalNumber").html(sum); 
		}
		
		function totalVolume(){
			var sum=0; 
		    $("input[id^='volume']").each(function(){
		       var value = $(this).val();
		       if($.isNumeric(value) == false){
		       		value = 0;
		       }
		       sum+=parseFloat(value);
		    }); 
		    $("#totalVolume").html(parseFloat(sum).toFixed(2)); 
		}
		
		function totalWeight(){
			var sum=0; 
		    $("input[id^='weight']").each(function(){
		       var value = $(this).val();
		       if($.isNumeric(value) == false){
		       		value = 0;
		       }
		       sum+=parseFloat(value);
		    }); 
		    $("#totalWeight").html(parseFloat(sum).toFixed(2)); 
		}
		
		function deleteTD(tdobj) {
			var tr = $(tdobj).parent().parent();  
    		tr.remove(); 
    		var length =  $("#deliverFormTable>tbody>tr").length;
    		for (i = 0; i < length; i++) {
    			$("#deliverFormTable>tbody>tr ").eq(i).children("td").eq(0).html(i+1);
            }
		};
	</script>