<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>云立方 | 访问拒绝</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="resources/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="resources/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="resources/css/responsive.css" >
	
	<link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="resources/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
</head>
<body>	
	<!-- PAGE -->
	<section id="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="divide-100"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 not-found text-center">
				   <div class="error">
					  405
				   </div>
				</div>
				<div class="col-md-4 col-md-offset-4 not-found text-center">
				   <div class="content">
					  <h1>请求失败 </h1>
					  <p>
						 #if($!errorMessage)
							<h3>$errorMessage.message</h3>
    					 #end 
						 <br />
						访问被拒绝, <a href="${rc.contextPath}/index.htm">返回首页</a> 或输入其他页面地址.
					  </p>
				   </div>
				</div>
			</div>
		</div>
	</section>
	<!--/PAGE -->
	
</body>
</html>