<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Cloud Admin | 系统错误</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="resources/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="resources/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="resources/css/responsive.css" >
	
	<link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="resources/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- FONTS -->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>	
	<!-- PAGE -->
	<section id="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="divide-100"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 not-found text-center">
				   <div class="error-500">
					  500
				   </div>
				</div>
				<div class="col-md-4 col-md-offset-4 not-found text-center">
				   <div class="content">
					  <h1>糟糕! 发生一些不可预知的错误</h1>
					  <div style="display:none;">
					  #if($!errorMessage)
							$errorMessage.message
    			      #end
    			      </div> 
					  <p>
						<h3>不用担心，我们会尽快处理.</h3>
					  </p>
					  <div class="btn-group">
						<a href="#" class="btn btn-danger" onClick="javascript:history.back(-1);"><i class="fa fa-chevron-left"></i> 返回</a>
						<a href="${rc.contextPath}/index.html" class="btn btn-default">首页</a>
					  </div>
				   </div>
				</div>
			 </div>
		</div>
	</section>
	<!--/PAGE -->
	
</body>
</html>