<div class="row">
	<div class="col-md-12 not-found text-center">
	   <div style="color: #A8BC78;font-size: 98px;font-weight: 300;letter-spacing: -10px;margin-bottom: 20px;margin-top: 0;">
		  404
	   </div>
	</div>
	<div class="col-md-4 col-md-offset-4 not-found text-center">
	   <div class="content">
		  <h3>操作失败</h3>
		  <p>
			 #if($!errorMessage)
				$errorMessage.message
    		 #end 
			 <br />
			   请检查输入是否有误, 返回<a href="${rc.contextPath}/homepage.htm" target="_parent">首页</a>.
		  </p>
		  <form action="#">
			 <div class="input-group">
				<input type="text" class="form-control" placeholder="search here...">
				<span class="input-group-btn">                   
					<button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
				</span>
			 </div>
		  </form>
	   </div>
	</div>
 </div>
