<!-- HEADER -->
<header class="navbar clearfix" id="header">
	<div class="container">
			<div class="navbar-brand">
				<!-- COMPANY LOGO -->
				<img src="resources/img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
				<!-- /COMPANY LOGO -->
				<!-- SIDEBAR COLLAPSE -->
				<div id="sidebar-collapse" class="sidebar-collapse btn">
					<i class="fa fa-bars" 
						data-icon1="fa fa-bars" 
						data-icon2="fa fa-bars" ></i>
				</div>
				<!-- /SIDEBAR COLLAPSE -->
			</div>
			<!-- NAVBAR LEFT -->
			<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-cog"></i>
						<span class="name">界面主题</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu skins">
						<li class="dropdown-title">
							<span><i class="fa fa-leaf"></i>皮肤</span>
						</li>
						<li><a href="#" data-skin="default">精细 (默认)</a></li>
						<li><a href="#" data-skin="night">夜晚</a></li>
						<li><a href="#" data-skin="earth">土壤</a></li>
						<li><a href="#" data-skin="utopia">乌托邦</a></li>
						<li><a href="#" data-skin="nature">自然</a></li>
						<li><a href="#" data-skin="graphite">石墨</a></li>
					 </ul>
				</li>
			</ul>
			<!-- /NAVBAR LEFT -->
			<!-- BEGIN TOP NAVIGATION MENU -->					
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown user" id="header-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img alt="" src="resources/img/avatars/anonymous.jpg" />
						<span class="username">$!uservo.username</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-user"></i> 我的档案</a></li>
						<li><a href="#"><i class="fa fa-cog"></i> 账号设置</a></li>
						<li><a id="logout" href="#"><i class="fa fa-power-off"></i> 退出登录</a></li>
						<form id="logoutform" name="logoutform" method="POST" action="${rc.contextPath}/logout">
						<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
                        </form>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
			<!-- END TOP NAVIGATION MENU -->
	</div>
	
</header>
<!--/HEADER -->