<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
	<div class="sidebar-menu nav-collapse">
		<div class="divide-20"></div>
		<!-- SEARCH BAR -->
		<div id="search-bar">
			<input class="search" type="text" placeholder="搜索"><i class="fa fa-search search-icon"></i>
		</div>
		<!-- /SEARCH BAR -->
		
		<!-- SIDEBAR QUICK-LAUNCH -->
		<!-- <div id="quicklaunch">
		<!-- /SIDEBAR QUICK-LAUNCH -->
		
		<!-- SIDEBAR MENU -->
		<ul>
			<li class="active">
				<a id="dashboard" href="#">
				<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">仪表盘</span>
				<span class="selected"></span>
				</a>					
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-table fa-fw"></i> <span class="menu-text">入库单管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a id="createDelivery" href="#"><span class="sub-menu-text">创建入库单</span></a></li>
					<li><a id="searchDelivery" href="#"><span class="sub-menu-text">查询入库单</span></a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-truck fa-fw"></i> <span class="menu-text">物流管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a id="createExpress" href="#"><span class="sub-menu-text">创建发货单</span></a></li>
					<li><a id="searchExpress" href="#"><span class="sub-menu-text">查询发货单</span></a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-cny fa-fw"></i> <span class="menu-text">资金结算</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a href="#" id="createSettlement"><span class="sub-menu-text">账单结算</span></a></li>
					<li><a href="# "id="searchSettlement"><span class="sub-menu-text">历史账单</span></a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-cubes fa-fw"></i> <span class="menu-text">库存管理</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a id="searchInventory" href="#"><span class="sub-menu-text">库存盘点</span></a></li>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;" class="">
				<i class="fa fa-question-circle-o fa-fw"></i> <span class="menu-text">在线帮助</span>
				<span class="arrow"></span>
				</a>
				<ul class="sub">
					<li><a href="#"><span class="sub-menu-text">FAQ</span></a></li>
				</ul>
			</li>
		</ul>
		<!-- /SIDEBAR MENU -->
	</div>
</div>
<!-- /SIDEBAR -->