<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>Cloud Admin | Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="resources/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="resources/css/cloud-admin.css" >
	
	<link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="resources/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- UNIFORM -->
	<link rel="stylesheet" type="text/css" href="resources/js/uniform/css/uniform.default.min.css" />
	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="resources/css/animatecss/animate.min.css" />
	<!-- FONTS -->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body class="login">	
	<!-- PAGE -->
	<section id="page">
			<!-- HEADER -->
			<header>
				<!-- NAV-BAR -->
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div id="logo">
								<img src="resources/img/logo/logo-alt.png" height="40" alt="logo name" />
							</div>
						</div>
					</div>
				</div>
				<!--/NAV-BAR -->
			</header>
			<!--/HEADER -->
			<!-- LOGIN -->
			<section id="login" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<h2 class="bigintro">登录</h2>
								<div class="divide-40"></div>
								<div id="errorDialogLogon" class="alert alert-block alert-info fade in">
									<a class="close" data-dismiss="alert" href="#" aria-hidden="true" >×</a>
									<div id="errorContentLogon"></div>
								</div>
								<form role="form" method="POST" action="${rc.contextPath}/logon" >
								  <div class="form-group">
									<label for="exampleInputEmail1">邮箱地址</label>
									<i class="fa fa-envelope"></i>
									<input name="email" type="email" class="form-control" id="email" required >
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword1">登录密码</label>
									<i class="fa fa-lock"></i>
									<input name="password" type="password" class="form-control" id="password" required >
								  </div>
								  <div class="form-actions">
									<label class="checkbox">
									<input type="checkbox" class="uniform" id="rememberme" name="remember-me">记住我</label>
									<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
									<button type="submit" class="btn btn-danger">登录</button>
								  </div>
								</form>
								<!-- SOCIAL LOGIN -->
								
								<!-- /SOCIAL LOGIN -->
								<div class="login-helpers">
									<a href="#" onclick="swapScreen('forgot');return false;">忘记密码?</a> <br>
									<a href="#" onclick="swapScreen('register');return false;">现在注册</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/LOGIN -->
			<!-- REGISTER -->
			<section id="register">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<h2 class="bigintro">注册</h2>
								<div class="divide-40"></div>
								<div id="errorDialogRegister" class="alert alert-block alert-info fade in">
									<a class="close" data-dismiss="alert" href="#" aria-hidden="true" >×</a>
									<div id="errorContentRegister"></div>
								</div>
								<form role="form" id="registerForm" method="POST" action="${rc.contextPath}/register.htm" >
								  <div class="form-group">
									<label for="exampleInputName">姓名</label>
									<i class="fa fa-font"></i>
									<input type="text" class="form-control" id="name" name="fullname" placeholder="请输入用户姓名" required>
								  </div>
								  <div class="form-group">
									<label for="exampleInputUsername">用户名</label>
									<i class="fa fa-user"></i>
									<input type="text" class="form-control" id="username" name="logonname" placeholder="请输入登录用户名" required >
								  </div>
								  <div class="form-group">
									<label for="exampleInputEmail1">邮箱</label>
									<i class="fa fa-envelope"></i>
									<input type="email" class="form-control" id="email" name="email" placeholder="示例:abc@mail.com" required >
								  </div>
								  <div class="form-group">
									<label for="exampleMoblie">手机</label>
									<i class="fa fa-phone" ></i>
									<input type="text" class="form-control" id="mobile" name="mobile" pattern="1[345678][0-9]{9}" placeholder="长度为11位手机号码" required >
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword1">登录密码</label>
									<i class="fa fa-lock"></i>
									<input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="字母、数字长度6~10之间" pattern="[a-zA-Z0-9]{6,10}" required >
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword2">确认密码</label>
									<i class="fa fa-check-square-o"></i>
									<input type="password" class="form-control" id="renewpassword" name="renewpassword" oninput="checkSamePassword(this)" placeholder="字母、数字长度6~10之间" pattern="[a-zA-Z0-9]{6,10}" required >
								  </div>
								  <div class="form-actions">
								    <input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
									<button type="submit" class="btn btn-success">注册</button>
								  </div>
								</form>
								<!-- SOCIAL REGISTER -->
								
								<!-- /SOCIAL REGISTER -->
								<div class="login-helpers">
									<a href="#" onclick="swapScreen('login');return false;"> 返回登录</a> <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/REGISTER -->
			<!-- FORGOT PASSWORD -->
			<section id="forgot">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<h2 class="bigintro">重置密码</h2>
								<div class="divide-40"></div>
								<form role="form">
								  <div class="form-group">
									<label for="exampleInputEmail1">输入你的邮箱地址</label>
									<i class="fa fa-envelope"></i>
									<input type="email" class="form-control" id="exampleInputEmail1" >
								  </div>
								  <div class="form-actions">
									<button type="submit" class="btn btn-info">发送重置密码邮件</button>
								  </div>
								</form>
								<div class="login-helpers">
									<a href="#" onclick="swapScreen('login');return false;">返回登录页面</a> <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- FORGOT PASSWORD -->
	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<script src="resources/js/jquery/jquery-2.0.3.min.js"></script>
	<!-- JQUERY UI-->
	<script src="resources/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="resources/bootstrap-dist/js/bootstrap.min.js"></script>
	
	
	<!-- UNIFORM -->
	<script type="text/javascript" src="resources/js/uniform/jquery.uniform.min.js"></script>
	<!-- CUSTOM SCRIPT -->
	<script src="resources/js/script.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {	
		
			$("#registerForm").submit(function(e){
			    if($("#newpassword").val() != $("#renewpassword").val()){
			   	   return false;
			    }else{
			       $('#renewpassword').get(0).setCustomValidity('');
			    }
			    return true;
			});

		});
		
		function checkSamePassword(input) {
	        if ($("#newpassword").val() != $("#renewpassword").val()) {
	            input.setCustomValidity("两次输入的密码不一致");
	        } else {
	            input.setCustomValidity('');
	        }
	    };
	</script>
	<script type="text/javascript">
		function swapScreen(id) {
			jQuery('.visible').removeClass('visible animated fadeInUp');
			jQuery('#'+id).addClass('visible animated fadeInUp');
		}
    	$("select, input[type='checkbox']").uniform();
	</script>
	#if($!errorMessage)
	#set($errorcode = $!errorMessage.errorCode)
	#set($errmsg = $!errorMessage.message)
	#set($fromPage = $!fromPage)
	<script type="text/javascript">
	$("#errorDialogLogon").hide();
	$("#errorDialogRegister").hide();
	
	var msg = '$errmsg';
	var fromPage = '$fromPage';
	swapScreen(fromPage);
	if(fromPage == 'login'){
		$("#errorDialogLogon").show();
		$("#errorContentLogon").html(msg);	
	}else if(fromPage == 'register'){
		$("#errorDialogRegister").show();
		$("#errorContentRegister").html(msg);	
	}
	
    </script>
    #else
    <script type="text/javascript">
	$("#errorDialogLogon").hide();
	$("#errorDialogRegister").hide();
    </script>
    #end
	<!-- /JAVASCRIPTS -->
</body>
</html>