<div class="row">
	<div class="col-md-12">
		<div class="quick-pie panel panel-default">
			<div class="panel-body">
				<div class="col-md-4 text-center">
					<div id="dash_pie_1" class="piechart" data-percent="59">
						<span class="percent">59%</span>
					<canvas height="110" width="110"></canvas></div>
					<a href="#" class="title">New Visitors <i class="fa fa-angle-right"></i></a>
				</div>
				<div class="col-md-4 text-center">
					<div id="dash_pie_2" class="piechart" data-percent="73">
						<span class="percent">73%</span>
					<canvas height="110" width="110"></canvas></div>
					<a href="#" class="title">Bounce Rate <i class="fa fa-angle-right"></i></a>
				</div>
				<div class="col-md-4 text-center">
					<div id="dash_pie_3" class="piechart" data-percent="90">
						<span class="percent">$hello 90%</span>
					<canvas height="110" width="110"></canvas></div>
					<a href="#" class="title">Brand Popularity <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>